ion-content {
  .jokes {
    margin: 1rem 0;

    ion-list {
      background: none !important;
      ion-item {
        margin-bottom: 1rem;

        ion-button {
          ion-icon {
            font-size: 30px !important;
          }
        }
      }
    }
  }
}
